[Desktop Entry]
Name=Breeze-Blue-Dark
Comment=Breeze-Blue-Dark Plasma Theme
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-Name=Breeze-Blue-Dark
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

